/.bundle

# Ignore all logfiles and tempfiles.
/log/*
!/log/.keep
/tmp
/.bundle
/public/assets
.rvmrc
\#*#
*~
*#
*.orig
.tags*
config/database.yml
.ruby-gemset
**/tags
*.rbc
capybara-*.html
.rspec
/log
/tmp
/db/*.sqlite3
/db/*.sqlite3-journal
/public/system
/coverage/
/spec/tmp
**.orig
rerun.txt
pickle-email-*.html

config/initializers/secret_token.rb
config/secrets.yml

/vendor/bundle

*.bowerrc
bower.json

.powenv
